<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/exercises">🏋️ Treino Tracker</a>
        <div class="navbar-nav">
            <a class="nav-link" href="/exercises">Exercícios</a>
            <a class="nav-link" href="/water">Hidratação</a>
            <a class="nav-link" href="/swagger-ui.html" target="_blank">API</a>
        </div>
    </div>
</nav>
</body>
</html>
